<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
          <link rel ="stylesheet" href="/css/style.css">
           <script src="/js/index.js"> </script>
    </head>

    <body>

      <div class="main-content">
        {{>header}}
    <img class = "picture" src="/img/img1.png">

      </div>
    
      {{>footer}}    
    </body>
    
</html>